.nav-container{
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-makeup{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  list-style: none;
  
}
.nav-user{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  list-style: none;
  color: white;
  
}
.menu-navlink{
  text-decoration: none;
  color: white;
}
#navbar a.active{
  color: var(--blue);
}
.search{
  border-radius: 10px;
  border: 5px solid var(--blue);
  width: 150px;
  padding: 12px;

}
.search:hover,
.search:focus {
  background-color: var(--soft-blue);
  color: white;
}